In [2]:
import pandas as pd
data = pd.read_csv('data_titanic_proyecto.csv', sep=',')
data.values
data.head()

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
0,1,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,Lower,M,N
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,Upper,F,Y
2,3,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Lower,F,Y
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S,Upper,F,Y
4,5,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S,Lower,M,N

In [3]:
data.describe()

       PassengerId         Age       SibSp       Parch        Fare
count   891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000   29.699118    0.523008    0.381594   32.204208
std     257.353842   14.526497    1.102743    0.806057   49.693429
min       1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000   20.125000    0.000000    0.000000    7.910400
50%     446.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000   38.000000    1.000000    0.000000   31.000000
max     891.000000   80.000000    8.000000    6.000000  512.329200

In [4]:
data.dtypes

PassengerId             int64
Name                   object
Age                   float64
SibSp                   int64
Parch                   int64
Ticket                 object
Fare                  float64
Cabin                  object
Embarked               object
passenger_class        object
passenger_sex          object
passenger_survived     object
dtype: object

In [5]:
data.passenger_class.unique()

array(['Lower', 'Upper', 'Middle'], dtype=object)

In [6]:
data.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [7]:
data.passenger_survived.unique()

array(['N', 'Y'], dtype=object)

In [8]:
data.passenger_sex.unique()

array(['M', 'F'], dtype=object)

In [9]:
data['Age'] = data['Age'].astype('float32')
data['Fare'] = data['Fare'].astype('float32')
data['Ticket'] = data['Ticket'].astype('category').cat.codes
data['Cabin'] = data['Cabin'].astype('category').cat.codes
data['Embarked'] = data['Embarked'].astype('category').cat.codes
data['passenger_class'] = data['passenger_class'].astype('category').cat.codes
data['passenger_sex'] = data['passenger_sex'].astype('category').cat.codes
data['passenger_survived'] = data['passenger_survived'].astype('category').cat.codes
data['Age'].fillna(0, inplace=True)
data.head()

,PassengerId,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
0,1,"Braund, Mr. Owen Harris",22.0,1,0,523,7.250000,-1,2,0,1,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,596,71.283302,81,0,2,0,1
2,3,"Heikkinen, Miss. Laina",26.0,0,0,669,7.925000,-1,2,0,0,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,49,53.099998,55,2,2,0,1
4,5,"Allen, Mr. William Henry",35.0,0,0,472,8.050000,-1,2,0,1,0

In [10]:
#Nan's
len(data) - data.count()

PassengerId           0
Name                  0
Age                   0
SibSp                 0
Parch                 0
Ticket                0
Fare                  0
Cabin                 0
Embarked              0
passenger_class       0
passenger_sex         0
passenger_survived    0
dtype: int64

* **Passenger_survived**: N = 0, Y = 1
* **Passenger_sex**: M = 1, F = 0
* **Passenger_class**: Lower = 0, Upper = 2, Middle = 1
* **Embarked**: S = 2, C = 0, Q = 1

In [11]:
data.corr()

,PassengerId,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger_class,passenger_sex,passenger_survived
PassengerId,1.000000,0.038125,-0.057527,-0.001652,-0.056554,0.012658,-0.000637,0.012985,0.035144,0.042939,-0.005007
Age,0.038125,1.000000,-0.184664,-0.048786,-0.071923,0.135516,0.204842,0.069705,0.361353,0.024978,0.010539
SibSp,-0.057527,-0.184664,1.000000,0.414838,0.079461,0.159651,-0.024829,0.071480,-0.083081,-0.114631,-0.035322
Parch,-0.001652,-0.048786,0.414838,1.000000,0.020003,0.216225,0.033585,0.043351,-0.018443,-0.245489,0.081629
Ticket,-0.056554,-0.071923,0.079461,0.020003,1.000000,-0.013885,-0.176515,0.011146,-0.319869,0.059372,-0.164549
Fare,0.012658,0.135516,0.159651,0.216225,-0.013885,1.000000,0.310987,-0.230365,0.549500,-0.182333,0.257307
Cabin,-0.000637,0.204842,-0.024829,0.033585,-0.176515,0.310987,1.000000,-0.070245,0.537419,-0.137704,0.276235
Embarked,0.012985,0.069705,0.071480,0.043351,0.011146,-0.230365,-0.070245,1.000000,-0.173511,0.118492,-0.176509
passenger_class,0.035144,0.361353,-0.083081,-0.018443,-0.319869,0.549500,0.537419,-0.173511,1.000000,-0.131900,0.338481
passenger_sex,0.042939,0.024978,-0.114631,-0.245489,0.059372,-0.182333,-0.137704,0.118492,-0.131900,1.000000,-0.543351
passenger_survived,-0.005007,0.010539,-0.035322,0.081629,-0.164549,0.257307,0.276235,-0.176509,0.338481,-0.543351,1.000000

In [12]:
import matplotlib.pyplot as plt
plt.matshow(data.corr())
plt.show()

In [13]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, test_size=0.23, random_state=42)
train, validation = train_test_split(train, test_size=0.1, random_state=42)
train.shape

(617, 12)

In [14]:
test.shape

(205, 12)

In [15]:
validation.shape

(69, 12)

In [16]:
from sklearn import tree
def decision_tree(x, y):
    clf = tree.DecisionTreeClassifier()
    clf = clf.fit(x, y)
    return clf

In [17]:
#train[train.columns[2:11]].sort_values(by=[''], inplace=True)
#train[train.columns[11]]
tree_model = decision_tree(train[train.columns[2:11]], train[train.columns[11]])
tree_model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [18]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(test[test.columns[11]], tree_model.predict(test[test.columns[2:11]]))
accuracy

0.775609756097561

In [19]:
from sklearn.svm import SVC
def svm(x, y):
    clf = SVC(gamma='scale', decision_function_shape='ovo')
    clf = clf.fit(x, y)
    return clf

In [20]:
svc_model = svm(train[train.columns[2:11]], train[train.columns[11]])
svc_model

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [21]:
accuracy = accuracy_score(test[test.columns[11]], svc_model.predict(test[test.columns[2:11]]))
accuracy

0.7024390243902439

In [22]:
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
def naive_bayes_scikit(x, y):
    gnb = GaussianNB()
    gnb = gnb.fit(x, y)
    return gnb

In [23]:
nb_model = naive_bayes_scikit(train[train.columns[2:11]], train[train.columns[11]])
nb_model

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
accuracy = accuracy_score(test[test.columns[11]], nb_model.predict(test[test.columns[2:11]]))
accuracy

0.7853658536585366

In [25]:
import collections 
import numpy as np
from math import sqrt, exp
def pre_prob(y):
    y_dict = collections.Counter(y)
    pre_probab = np.ones(2)
    for i in range(0, 2):
        pre_probab[i] = y_dict[i]/y.shape[0]
    return pre_probab

def mean_var(X, y):
    n_features = X.shape[1]
    m = np.ones((2, n_features))
    v = np.ones((2, n_features))
    n_0 = np.bincount(y)[np.nonzero(np.bincount(y))[0]][0]
    x0 = np.ones((n_0, n_features))
    x1 = np.ones((X.shape[0] - n_0, n_features))
    
    k = 0
    for i in range(0, X.shape[0]):
        if y[i] == 0:
            x0[k] = X[i]
            k = k + 1
    k = 0
    for i in range(0, X.shape[0]):
        if y[i] == 1:
            x1[k] = X[i]
            k = k + 1
        
    for j in range(0, n_features):
        m[0][j] = np.mean(x0.T[j])
        v[0][j] = np.var(x0.T[j])*(n_0/(n_0 - 1))
        m[1][j] = np.mean(x1.T[j])
        v[1][j] = np.var(x1.T[j])*((X.shape[0]-n_0)/((X.shape[0] - n_0) - 1))
    return m, v # mean and variance 

def prob_feature_class(m, v, x):
    n_features = m.shape[1]
    pfc = np.ones(2)
    for i in range(0, 2):
        product = 1
        for j in range(0, n_features):
            denominator = sqrt(2*3.14*v[i][j])
            if denominator == 0:
                continue
            product = product * (1/denominator) * exp(-0.5 * pow((x[j] - m[i][j]),2)/v[i][j])
        pfc[i] = product
    return pfc

def GNB(X, y, x):
    m, v = mean_var(X, y)
    pfc = prob_feature_class(m, v, x)
    pre_probab = pre_prob(y)
    pcf = np.ones(2)
    total_prob = 0
    for i in range(0, 2):
        total_prob = total_prob + (pfc[i] * pre_probab[i])
    for i in range(0, 2):
        pcf[i] = (pfc[i] * pre_probab[i])/total_prob
    prediction = int(pcf.argmax())
    return m, v, pre_probab, pfc, pcf, prediction

def naive_bayes(X_train, y_train, x_test):
    predictions = np.zeros(x_test.shape[0])
    predictions.shape
    for i in range(0, predictions.shape[0]):
        x = x_test[i]
        m, v, pre_probab, pfc, pcf, prediction = GNB(X_train, y_train, x)
        predictions[i] = prediction
    return predictions

In [26]:
X_train = np.array(train.iloc[:,[2,3,4,5,6,7,8,9,10,11]])
y_train = np.array(train['passenger_survived'])
x_test = np.array(test.iloc[:,[2,3,4,5,6,7,8,9,10,11]])

predictions = naive_bayes(X_train, y_train, x_test)

In [27]:
accuracy = accuracy_score(test[test.columns[11]], predictions)
accuracy

0.7853658536585366

In [65]:
import tensorflow as tf 
from sklearn.preprocessing import OneHotEncoder 

def logistic_regression(x_orig, y_orig, batch_size):
    # Creating the One Hot Encoder 
    oneHot = OneHotEncoder(categories='auto') 

    # Encoding x_orig 
    oneHot.fit(x_orig) 
    x = oneHot.transform(x_orig).toarray() 

    # Encoding y_orig 
    oneHot.fit(y_orig) 
    y = oneHot.transform(y_orig).toarray() 

    alpha, epochs = 0.0035, 100
    m, n = x.shape 
    
    print("n: ",n)
    
    # There are n columns in the feature matrix 
    # after One Hot Encoding. 
    X = tf.placeholder(tf.float32, [None, n]) 

    # Since this is a binary classification problem, 
    # Y can take only 2 values. 
    Y = tf.placeholder(tf.float32, [None, 2]) 

    # Trainable Variable Weights 
    W = tf.Variable(tf.zeros([n, 2])) 

    # Trainable Variable Bias 
    b = tf.Variable(tf.zeros([2])) 
    
    # Hypothesis 
    Y_hat = tf.nn.sigmoid(tf.add(tf.matmul(X, W), b)) 

    # Sigmoid Cross Entropy Cost Function 
    cost = tf.nn.sigmoid_cross_entropy_with_logits(logits = Y_hat, labels = Y)

    # Gradient Descent Optimizer 
    optimizer = tf.train.GradientDescentOptimizer(learning_rate = alpha).minimize(cost) 

    # Global Variables Initializer 
    init = tf.global_variables_initializer() 
    
    # Starting the Tensorflow Session 
    with tf.Session() as sess: 

        # Initializing the Variables 
        sess.run(init) 

        # Lists for storing the changing Cost and Accuracy in every Epoch 
        cost_history, accuracy_history = [], [] 
        
        batchs = int(np.around(n / batch_size))

        for epoch in range(epochs):
            batch_start = 0
            batch_end = batch_size - 1
            
            #+++++
            cost_per_epoch = 0

        
            #+++++
            
            for batch in range(batchs):
                x_b = x[batch_start:batch_end]
                y_b = y[batch_start:batch_end]
                                                                               
                sess.run(optimizer, feed_dict = {X : x_b, Y : y_b}) 

                # Calculating cost on current Epoch 
                c = sess.run(cost, feed_dict = {X : x_b, Y : y_b}) 

                # Calculating accuracy on current Epoch 
                correct_prediction = tf.equal(tf.argmax(Y_hat, 1), 
                                                tf.argmax(Y, 1)) 
                accuracy = tf.reduce_mean(tf.cast(correct_prediction, 
                                                        tf.float32)) 

                # Storing Cost and Accuracy to the history 
                if len(c) != 0:
                    cost_history.append(sum(sum(c))) 
                    
                accuracy_val = accuracy.eval({X : x_b, Y : y_b}) * 100
                accuracy_history.append(accuracy_val) 

                # Displaying result on current Epoch 
                if batch % 50 == 0: 
                    print("Epoch " + str(epoch) + " Cost: "
                                    + str(cost_history[-1]) + " Accuracy: " + str(accuracy_val)) 

                batch_start += batch_size
                batch_end += batch_size

        # Final Accuracy 
        correct_prediction = tf.equal(tf.argmax(Y_hat, 1), 
                                        tf.argmax(Y, 1)) 
        accuracy = tf.reduce_mean(tf.cast(correct_prediction, 
                                                tf.float32)) 
        print("\nAccuracy:", accuracy_history[-1], "%")

In [ ]:
# Feature Matrix 
x_orig = train[train.columns[2:11]].values 
  
# Data labels 
y_orig = train[train.columns[11]].values 
y_orig = y_orig.reshape(-1, 1)

logistic_regression(x_orig, y_orig, 65)

n:  910
Epoch 0 Cost: 92.1750259399414 Accuracy: 64.0625
Epoch 1 Cost: 88.83895111083984 Accuracy: 64.0625
Epoch 2 Cost: 86.9646110534668 Accuracy: 64.0625
Epoch 3 Cost: 85.85717010498047 Accuracy: 64.0625
Epoch 4 Cost: 85.10767364501953 Accuracy: 65.625
Epoch 5 Cost: 84.54321670532227 Accuracy: 67.1875
Epoch 6 Cost: 84.08655166625977 Accuracy: 67.1875
Epoch 7 Cost: 83.69933700561523 Accuracy: 67.1875
Epoch 8 Cost: 83.36071395874023 Accuracy: 67.1875
Epoch 9 Cost: 83.05838775634766 Accuracy: 68.75
Epoch 10 Cost: 82.78451156616211 Accuracy: 70.3125
Epoch 11 Cost: 82.53377914428711 Accuracy: 70.3125
Epoch 12 Cost: 82.30241012573242 Accuracy: 70.3125
Epoch 13 Cost: 82.08749771118164 Accuracy: 71.875
Epoch 14 Cost: 81.88679122924805 Accuracy: 73.4375